*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: orangered;
}
h2{
    font-size: 17px;
    color: whitesmoke;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{

    padding: 0;
}bl
main{
    max-width: 840px;
}
aside{
    width: 20em;
    /* margin: 1rem; */
    /* border: 1px solid rgb(0, 0, 0 / 0.2); */
    /* padding: 1rem; */
    /* background-color: #eee; */
    /* color: #333; */
    text-align: center;
    position: relative;
}
aside img{
    width: 200px;
    height: auto;
}
aside h2{
    position: absolute;
    top: 50px;
    left: 100px;
    
}
main img{
    width: 150px;
    height: auto;
    float:right;
    margin: 0 0 1rem 1rem;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box{
    border: 1px solid rgb(0, 0, 0 / 10%);
    margin: 1rem;
    padding: 2rem;
    background-color: #ddd;
    color: #000;
}